<nb-card size="xsmall">
    <nb-card-header>
        提示
        <!-- <button class="close" tabIndex="-1" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span> 
        </button> -->
    </nb-card-header>
    <nb-card-body>
        <div class="content">
            {{content}}
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="footer-buttons">
            <button nbButton status="success" (click)="close()">确定</button>
        </div>
    </nb-card-footer>
</nb-card>